<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d- img-fluid" style="width:100%; max-height: 560px;" src="assets/img/0_XHeyxAgD8bcRxCJv.png" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="h3">Welcome to <span class="h1">Click&Eat</span></h3>
                <p class="h4">Find your favorite restaurant and order any food with just few clicks!</p>
            </div>
        </div>
    </div>
</div>

<nav class="animated fadeIn navbar navbar-expand-lg navbar-light">
    <div class="row">
        <div class="text-center">
            <div class="navbar-nav mr-auto"></div>
            <ul class="navbar-nav align-items-lg-center">
                <li class="main-nav-item py-2 px-3">
                    <button type="button" (click)="reset()" class="nav-link" style="border: none; display: inline-block; text-decoration: none; background-color: transparent;">All</button>
                </li>
                <li class="main-nav-item py-2 px-3" *ngFor="let pc of restaurantCategories">
                    <button type="button" (click)="filterRestaurantByCategory(pc)" class="nav-link" style="border: none; display: inline-block; text-decoration: none; background-color: transparent;">
            {{ pc.restaurantCategoryName }}
          </button></li>
            </ul>
        </div>
    </div>
</nav>

<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-md-3" *ngFor="let res of filterRestaurants">
            <div class="card">
                <a [routerLink]="['restaurant/' + res.id]" class="card-link-rm-style">
                    <div class="card-header">
                        <img style="width: 100%; height: 233.52px;" class="img-fluid" [src]="createImgPath(res.restaurantImagePath)" alt="Restaurant-Image">
                    </div>
                </a>
                <div class="card-body">
                    <h3 class="h3">
                        {{ res.restaurantName }}
                    </h3>
                    <h5 class="h6 mb-3">
                        {{ res.restaurantCategory.restaurantCategoryName }}
                    </h5>
                    <p class="">
                        {{ res.description.length > 100 ? res.description.substring(0,100)+"..." : res.description }}
                    </p>
                </div>
            </div>
        </div>
        <!--/.coll-->
    </div>
    <!--/.row-->
</div>