<nav class="animated fadeIn navbar navbar-expand-lg navbar-light row justify-content-center justify-content-md-between">
    <ul class="navbar-nav align-items-lg-center">
        <li class="main-nav-item py-2 px-3">
            <button type="button" (click)="reset()" class="nav-link" style="border: none; display: inline-block; text-decoration: none; background-color: transparent;">All</button>
        </li>
        <li class="main-nav-item py-2 px-3" *ngFor="let pc of restaurantCategories">
            <button type="button" (click)="filterRestaurantByCategory(pc)" class="nav-link" style="border: none; display: inline-block; text-decoration: none; background-color: transparent;">
        {{ pc.restaurantCategoryName }}
      </button></li>
    </ul>
    <button type=" button " [routerLink]="['add-restaurant']" class="btn btn-success float-right">Add New Restaurant</button>

</nav>

<div class="animated fadeIn">
    <div class="row">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Restaurant Name</th>
                    <th>Restaurant Category</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let res of filterRestaurants; let i = index">
                    <td>{{ i+1 }}.</td>
                    <td>{{ res.restaurantName }}</td>
                    <td>{{ res.restaurantCategory.restaurantCategoryName }}</td>
                    <td>{{ res.description.length > 32 ? res.description.substring(0,32)+"..." : res.description }}</td>
                    <td class="d-flex justify-content-around">
                        <button type="button" [routerLink]="['/restaurant-details/' + res.id]" class="btn btn-info ">Details
            </button>
                        <button type="button " [routerLink]="['edit-restaurant/' + res.id]" class="btn btn-warning ">Edit</button>
                        <button type="button " (click)="deleteRestaurant(res.id) " class="btn btn-danger ">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>