<div class="card animated fadeIn">
    <div class="card-header">Create Product Category </div>
    <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off" class="ng-untouched ng-pristine ng-valid">

        <div class="card-body">
            <div class="form-group">
                <label for="p-category">Product Category Name:</label>
                <input autocomplete="text" class="form-control" id="p-category" name="productCategoryName" #productCategoryName="ngModel" [(ngModel)]="productCategoryAddEdit.productCategoryName" placeholder="Enter Product Category Name.." type="text">
                <div class="validation-error" *ngIf="productCategoryName.invalid && productCategoryName.touched">This field is required.
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" [disabled]="form.invalid" class="btn btn-sm btn-primary">
        <i class="fa fa-dot-circle-o"></i>
        Submit</button>
            <button class="btn btn-sm btn-danger" type="reset">
        <i class="fa fa-ban"></i>
        Reset</button>
        </div>

    </form>
</div>