<app-header-client class="header-fixed app-header navbar" [navbarBrandRouterLink]="['/dashboard']" [fixed]="true" [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">
    <a class="navbar-brand" ng-reflect-router-link="/dashboard" href="#/dashboard">

        <div class="navbar-brand-full">🅲 ClicknEat</div>
        <div class="navbar-brand-minimized">🅲</div>

    </a>
    <ul class="nav navbar-nav d-md-down-none ">
        <li class="nav-item px-3">
            <a class="nav-link " href="#/home">Home</a>
        </li>
        <li class="nav-item px-3 ">
            <a class="nav-link " href="#/about">About Us</a>
        </li>
        <li class="nav-item px-3 ">
            <button (click)="onLogout()" class="nav-link">{{isLoggedIn}}</button>
        </li>
        <li class="nav-item px-3 ">
            <button (click)="onRegister()" class="nav-link">{{isRegistered}}</button>
        </li>
    </ul>
    <ul *ngIf="(logged != null)" class="nav navbar-nav ml-auto ">
        <li class="nav-item dropdown " dropdown placement="bottom right">
            <a class="nav-link " data-toggle="dropdown " href="# " role="button " aria-haspopup="true " aria-expanded="false " dropdownToggle (click)="false ">
                <img src="assets/img/avatars/7.jpg " class="img-avatar " alt="admin@bootstrapmaster.com " />
            </a>
            <div class="dropdown-menu dropdown-menu-right " *dropdownMenu aria-labelledby="simple-dropdown ">
                <div class="dropdown-header text-center "><strong>Settings</strong></div>
                <a class="dropdown-item " href="# "><i class="fa fa-user "></i> Profile</a>
                <a class="dropdown-item " href="# "><i class="fa fa-wrench "></i> Setting</a>
                <div class="divider "></div>
                <button (click)="onLogout()" class="dropdown-item " href="# "><i class="fa fa-lock "></i> Logout</button>
            </div>
        </li>
    </ul>
</app-header-client>
<div class="app-body">
    <main class="main d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card mx-4">
                        <div class="card-body p-4">
                            <form [formGroup]="identityService.formModel" autocomplete="off" (submit)="onSubmit()">
                                <h1>Register</h1>
                                <p class="text-muted">Create your account</p>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-user"></i></span>
                                    </div>
                                    <input type="email" class="form-control" placeholder="Email" formControlName="email" required>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-lock"></i></span>
                                    </div>
                                    <input type="password" placeholder="Password" class="form-control" name="password" formControlName="password" required>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-8 offset-md-2">
                                        <button type="submit" class="btn btn-success btn-block" [disabled]="!identityService.formModel.valid">Sign Up</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<app-footer>
    <span><a href="#">ClicknEat</a> &copy; 2020 Aleksandar Stefanovski.</span>
</app-footer>