<div class="container">
    <div class="row justify-content-center">

        <div class="col-7 mt-5">
            <h3 class="mb-4">Register</h3>

            <form [formGroup]="identityService.formModel" autocomplete="off" (submit)="onSubmit()">
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" formControlName="email">
                    <label class="text-danger" *ngIf="identityService.formModel.get('email').touched && identityService.formModel.get('email').errors?.email">Invalid
            email address.</label>
                </div>
                <div class="form-group required">
                    <label>Password</label>
                    <input type="password" class="form-control" formControlName="password">
                    <label class="text-danger" *ngIf="identityService.formModel.get('password').touched && identityService.formModel.get('password').errors?.required">This
            field is mandatory.</label>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8 offset-md-2">
                        <button type="submit" class="btn btn-lg btn-block" [disabled]="!identityService.formModel.valid">Sign
              Up</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>