<header>
    <div class="container-fluid p-0 position-relative" style="background-color:#f2f2f4">
        <img src="assets/cover.jpg" class="img-fluid" style="min-width:100%;">
        <div class="container">
            <div class="row">
                <div style="position: absolute; bottom: 5%; padding: 2.2rem 16rem 2.2rem  2rem; background-color: #e7e7e7;">

                    <h3 class="restMainTitle"> {{ restaurant?.restaurantName }} </h3>
                    <p> {{ restaurant?.restaurantCategory.restaurantCategoryName }} </p>
                    <p> {{ restaurant?.description }} </p>

                    <!-- <div class="rest-stars">
          <i class="fa fa-star icon-shadow"></i><i class="fa fa-star icon-shadow"></i><i
            class="fa fa-star icon-shadow"></i><i class="fa fa-star icon-shadow"></i><i
            class="fa fa-star icon-shadow"></i><span class="stars-user">5.00 / 28 <i class="fa fa-user"></i></span>
        </div> -->
                    <div class="devTime bg-green-time" id="devTime">
                        <span class="devTitle">Време за достава:</span>
                        <span class="devMin">30-60 минути</span>
                    </div>
                    <div class="devTime">
                        <span class="devTitle"> Просечно време за достава: </span>
                        <span class="devMin"> 33 минути</span>
                    </div>
                    <div class="workHoursContainer" id="workingHpurs">
                        <div><i class="fa fa-clock-o pr2"></i> Понеделник: 10:00 - 21:30</div>
                        <div>
                            <i class="fa fa-money pr2"></i> Мин. нарачка: 400 ден. + достава
                        </div>
                    </div>
                    <div class="payment-means"><i class="fa fa-credit-card"></i> Плаќање: во готово / онлајн</div>
                    <div class="expensivnes"><i class="fa fa fa-usd"></i><i class="fa fa fa-usd fa-inverse"></i><i class="fa fa fa-usd fa-inverse"></i><i class="fa fa fa-usd fa-inverse"></i><i class="fa fa fa-usd fa-inverse"></i></div>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <div class="row">
                <div class="text-center">

                    <div class="navbar-nav mr-auto"></div>
                    <ul class="navbar-nav align-items-lg-center">
                        <li class="main-nav-item py-2 px-3">
                            <button type="button" (click)="reset()" class="nav-link" style="border: none; display: inline-block; text-decoration: none; background-color: transparent;">All</button>
                        </li>
                        <li class="main-nav-item py-2 px-3" *ngFor="let pc of productCategories">
                            <button type="button" (click)="filterProductsByCategory(pc)" class="nav-link" style="border: none; display: inline-block; text-decoration: none; background-color: transparent;">
                {{ pc.productCategoryName }}
              </button></li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>
</header>


<section class="">
    <div class="container">

        <div class="row">
            <div class="card-deck col-4 mx-0" *ngFor="let product of filterData">
                <div class=" card mx-0">
                    <a href=" ">
                        <img class="card-img-top img-fluid " src="assets/logo.png " alt="Card image cap">
                        <div class="card-body ">
                            <h5 class="card-title ">{{ product.productName }}</h5>
                            <p class="card-text ">{{ product.description }}</p>
                            <p class="card-text ">{{ product.productCategory.productCategoryName }}</p>
                            <p class="card-text "><small class="text-muted ">Last updated 3 mins ago</small></p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

</section>