<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <div class="row">
                <div class="text-center">

                    <div class="navbar-nav mr-auto"></div>
                    <ul class="navbar-nav align-items-lg-center">
                        <li class="main-nav-item py-2 px-3">
                            <h3> {{ restaurantCategory.restaurantCategoryName }}</h3>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="card-deck col-4 mx-0" *ngFor="let res of categoryRestaurants">
                <div class="card mx-0">
                    <a [routerLink]="['/restaurant-details/' + res.id]">
                        <img class="card-img-top img-fluid" src="assets/logo.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ res.restaurantName }}</h5>
                            <p class="card-text">{{ res.description }}</p>
                            <p class="card-text">{{ res.restaurantCategory.restaurantCategoryName }}</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>